@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html {
	width:100%;
	height:100%;
	font-size:62.5%;
}

body {
	width:100%;
	height:100%;
	min-height : 100%;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	-webkit-text-size-adjust:100%;
	font-size:10px;
	color:#000;
	border:none;
}


img{border: none;}
ul{list-style: none;}

/* table */
table{border:0; border-collapse:collapse;}


a { /*FireFoxリンク選択時の点線を消す*/
    overflow:hidden;
    outline:none;
}

a {color: #000;text-decoration: none;}
a:visited{color:#000;text-decoration: none;}
a:hover {color: #666;text-decoration: none;}
a:active{color: #000;text-decoration: none;}


/* a:hover img */
a:hover img {
  opacity: 0.7;
}



#wrapper{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.conts{
	background-image: url('../img/pic1.jpeg');
	background-repeat: no-repeat;
	background-size:cover;
  background-position:center center;
  height:100vh;
  width:100vw;
  margin:0;
  padding:0;
  display: table;
}

.main_ttl {
	text-align: center;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.main_ttl h1 img{
	width:15%;
	margin: 0;
	min-width:200px;
}




/******** about *********/

.page_ttl{
	text-align:center;
	margin:5% 0 0 0;
	padding: 0;
	width:100%;
	overflow: hidden;
}
.page_ttl h1 img{
	width:10%;
	margin: 0;
}



.conts_area{
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	padding:0 10%;
	margin-top:20px;
	font-size:1.3rem;
	font-size:13px;
	background-color:#f5f5f5;
}


.conts_area section h2{
	font-weight: normal;
	font-size:1.3rem;
	font-size:13px;
}



.conts_area section p{
	margin-top: 20px;
}



/*****/
.demo {
  width: 100%;
  padding: 10px 0;
  color:#000;
}
.heading {
  margin: 10px 0
}
.demo5 .heading {
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}
.demo5 .heading span{
  padding: 0 5% 0 5%;
  font-size:1.5em;
  font-size:15px;
}
.demo5 .heading:before {
  content: "";
  border-bottom: 1px solid #000;
  bottom: 0;
  height: 0;
  position: absolute;
  width:100%;
  z-index: 0;
}
.demo5 .heading:after {
  border-bottom: 3px solid #222;
  bottom: 0;
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
}

.slogan{
	font-style:oblique;
	margin-top: 30px;
	display:block;
}


/**info**/

.calling {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display:table;
  box-sizing: border-box;
  margin-top: 40px;
}
.calling h3 {
  display:table-cell;
  vertical-align: middle;
  font-weight: normal;
  padding:0 10px;
  font-size:1.3em;
  font-size:13px;
}

.info p{
   margin:10px 0 5px 0;
}
.greed{
	display: block;
	margin-top: 15px;
}



/******** 404 *********/

#window {
  height:100%;
  width:100%;
  display:table;
}


.not_text{
  display: table-cell;
  vertical-align:middle;
  color: #fff;
  font-size:2.0em;
  font-size:20px;
  text-align: center;
  font-family: "Sawarabi Gothic";
}

.not_text2{
  font-family: 'Cousine', monospace;
  display: block;
  margin-top: 8px;
  font-size:2.0em;
  font-size:20px;
  color: #fff;
}



/******** archive1 *********/




#masonry{
	width: 100%;
	line-height: 0;
	height:auto;
  margin: 0 auto;
}
.grid{
  float:left;
  width:300px;
  display:inline;
  overflow: hidden;
  padding:3px;
}

.grid img{
  width:100%;
}

.grid-item--width2{
  width:300px;
  float:left;
  display:inline;
  overflow: hidden;
  padding:3px;
}






/******** archive2 *********/



.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background: #fff;
  border: .1rem solid #ccc;
  border-radius: .3rem;
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
  text-align: left;
  z-index: 999;
  line-height: 1.2;
}
.card .card-header,
.card .card-body,
.card .card-footer {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.card .card-header:last-child,
.card .card-body:last-child,
.card .card-footer:last-child {
  padding-bottom: 1.5rem;
}
.card .card-image {
  padding-top: 1.5rem;
}
.card .card-image:first-child {
  padding-top: 0;
}
.card .card-image:first-child img {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.card .card-image:last-child img {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.card .card-title {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1;
  margin-bottom: .3rem;
  margin-top: 0;
}
.card .card-meta  {
  color: #999;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}
.card-body{
  font-size:1.1rem;
  font-size:11px;
}



.btn {
  -webkit-appearance: none;
  background: #fff;
  border: .1rem solid #5764c6;
  border-radius: .3rem;
  color: #5764c6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  height: 3.2rem;
  line-height: 1.6rem;
  outline: 0;
  padding: .7rem 1.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn.btn-primary {
  background: #5764c6;
  border-color: #4452c0;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #404fbe;
  border-color: #35419c;
  color: #fff;
}
.btn a{color: #fff;}










